<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cards.css">
    <title>CARDS</title>
</head>
<body>
    <h1>GlamBoard</h1>
    <ul class="cards">
        <li>
          <a href="https://www.myntra.com/jackets/wildcraft/wildcraft-water-resistant-sporty-jacket/24560632/buy" class="card">
            <img src="1.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                <img class="card__thumb" src="Pfp4.jpg" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Aryan</h3>            
                  <span class="card__status">1 hour ago</span>
                </div>
              </div>
              <p class="card__description">Slayyy fashion</p>
    
            </div>
          </a>      
        </li>
        <li>
          <a href="https://www2.hm.com/en_in/productpage.0976641027.html" class="card">
            <img src="3.jpg"  class="card__image" alt="" />
            <div class="card__overlay">        
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                <img class="card__thumb" src="Pfp3.jpg"  alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Rameez</h3>
                  <span class="card__status">3 hours ago</span>
                </div>
              </div>
              <p class="card__description">Cool</p>
            </div>
          </a>
        </li>
        <li>
          <a href="https://www2.hm.com/en_in/productpage.1187872004.html" class="card">
            <img src="Pfp2.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                <img class="card__thumb" src="Pfp2.jpg" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Shanya</h3>
                  <span class="card__tagline">Beauty</span>            
                  <span class="card__status">1 hour ago</span>
                </div>
              </div>
              <p class="card__description">Core</p>
            </div>
          </a>
        </li>
        <li>
          <a href="https://www.ajio.com/find/Orange-Kurti?query=%3Arelevance%3Averticalcolorfamily%3AOrange&classifier=intent&gridColumns=3" class="card">
            <img src="dress.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                <img class="card__thumb" src="OIP.jpeg" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Sailatha</h3>
                  <span class="card__status">3 hours ago</span>
                </div>          
              </div>
              <p class="card__description">Stylish</p>
            </div>
          </a>
        </li>    
      </ul>
</body>
</html>